RewriteEngine on
RewriteBase /

# убираем www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# assets
RewriteRule ^assets\/(.+)-\d+\.(js|css)$ assets/$1.$2 [L]

# редиректим все урлы, которые не являются файлами или папками на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]